body {
    margin: 0px !important;
    background-color: #25263a;
}

.banner {
    height: 4vh;
    min-height: 20px;
    background-color: #494d64;
    position: relative;
    width: 101vw;
}

.banner p {
    font-family: -apple-system, BlinkMacSystemFont, "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Sergoe UI Emoji";
    color: #b8c0e0;
    font-size: 2vh;
    text-align: center;
    position: relative;
    top: auto;
    bottom: auto;
    margin: 0px;
    position: absolute;
    top: 50% !important;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100vw;
    font-weight: 600;
    
    
}

.Buffer {
    margin-top: 2vh;
    height: calc(88.12% - 600px);
    Width: 100%;
    font-family: Helvetica;
    color: #b8c0e0;
    font-weight: bolder;
    font-size: 4vh;
  }

.MyWorks {
    margin-top: 5vh;
    height: 150px;
    Width: 100%;
    font-family: Helvetica;
    color: #b8c0e0;
    font-weight: bolder;
    font-size: 4vh;
}

.MyWorksText {
    margin-left: 15vw;
    border-bottom: solid;
    width: fit-content;
    border-width: 0.5vh;
}

.MenuClickable {
    margin-top: 2vh;
    height: 150px;
    Width: 100%;
    font-family: Helvetica;
    color: #b8c0e0;
    font-weight: bolder;
    font-size: 4vh; 
}


.AboutThisSite {
    height: 150px;
    width: 100%;
    font-family: Helvetica;
    color: #b8c0e0;
    font-weight: bolder;
    font-size: 2vh;
}

.sitetext {
    float: right;
    height: 50%;
    margin-top: 48px;
    margin-right: 27px;
}

.bannerCloseButton {
    font-family: helvetica;
    color: #b8c0e0;
    font-size: 2vh;
    text-align: right;
    position: relative;
    top: auto;
    bottom: auto;
    margin: 0;
    position: absolute;
    top: 50% !important;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: fit-content;
    background-color: #00000000;
    border-color: #00000000;
    float: right;
    cursor: pointer;
    text-align: right;
    margin-left: 95%;
}

.webcontent {
    width: 101vw;
    height: 120vh;
    background-color: #24273a;
    overflow-x: hidden; 
    position: relative;
}

.menubar {
    float: left;
    height: 100%;
    overflow: scroll;
    width: 0vw;
    background-color: #363a4f;
    border-radius: 100px;
    left: -10vw;
    position: absolute;
    transition: width 0.5s ease-in-out 0s;
    overflow-x: hidden;
    border-right: #ffffff15;
    border-left: #00000000;
    border-top: #00000000;
    border-bottom: #00000000;
    border-style: solid;
    z-index: 999;

}

.topNav.topNav--hide {
    margin-left: calc(80vw - 40px);
    width: calc(8vh + 40px);

}

.menubar.menubar--open {
    width: 75vw;
}

.topNav {
    width: 96vw;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vh;
    border-radius: 58px;
    height: 7vh;
    background-color: #363a4f;
    position: absolute;
    transition: width 0.5s ease-in-out 0s, margin-left 0.5s ease-in-out 0s;
    overflow: hidden;
    z-index: 999;
}

.PageName {
    width: 50vw;
    float: Right;
    top: 50% !important;
    -ms-transform: translateY(-90%);
    transform: translateY(-90%);
    width: fit-content;
    position: relative;
    left: -70vw;
    font-family: helvetica;
    color: white;
    font-size: 70px;
    font-weight: bolder;
}


.BarImg {
    height: 5vh;
    width: 5vh;
    float: right;
    top: 50% !important;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
}



.menuBarButton {
    height: 5vh;
    width: 5vh;
    float: right;
    top: 50% !important;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    right: 40px;
    cursor: pointer;
}


.PageNameMenu {

}